{% extends 'base.html' %}

{% block content %}
    <ul>
    {% for item in cart_items %}
        <li>
            {% if item.thumbnail %}
                <img src="{{ item.thumbnail.url }}" alt="{{ item.title }}" style="width: 100px; height: 100px;">
            {% endif %}    
            <p>{{ item.title }}</p>
            <p>{{ item.description }}</p>
            <p>{{ item.price }}</p>
            <button>Delete</button>
            <a href="{% url 'edit_product' item.id %}">Edit</a>
        </li>
    {% endfor %}
    <button>Checkout</button>
    </ul>
{% endblock %}
