{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% comment %} Incarca tot ce este static (imagini, videoclipuri, etc.)  {% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <title>ONLINE STORE (MAGAZIN ONLINE)</title>
    <link rel="stylesheet" href="{% static '../static/globals.css' %}" />
    <link rel="stylesheet" href="{% static '../static/cart.css' %}" />
    <link rel="stylesheet" href="{% static '../static/add-edit-product.css' %}" />
    <link rel="stylesheet" href="{% static '../static/login.css' %}" />
    <link rel="stylesheet" href="{% static '../static/register.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static '../static/main_page.css' %}" /> {% endcomment %}
  </head>
  <body>
    <div id="app">
      <div class="content">{% block content %} {% endblock %}</div>
    </div>
    <script>
      const elements = document.getElementsByTagName('body')
      body = elements[0]
      function handleCM(event) {
        event.preventDefault()
      }
      body.addEventListener("contextmenu", handleCM)
    </script>
  </body>
</html>


